body {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    font-size: 14px;
    margin-right: 35px;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
    padding: 10px;
}

#monkeyimg {
    vertical-align: middle;
}

#searchimg {
    height: 20px;
    vertical-align: middle;
}

li a {
    text-decoration: none;
    color: black;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
    font-size: 50px;
    margin: 10px;
    margin-top: 50px;
}

p {
    font-weight: 100;
    line-height: 1.4;
    font-size: 18px;
    width: 500px;
    text-align: center;
    margin-bottom: 45px;
    word-spacing: 2px;
    color: black;
}

#horse {
    width: 350px;
    margin: 50px;
    margin-top: 80px;
}

footer {
    background-color: rgb(255, 224, 27);
    height: 25px;
}

.button {
    border: 2px grey solid;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 600;
    font-size: 15px;
}

.green-button {
    background-color: #007c89;
    border: #007c89 solid 1px;
    color: white;
}

.link {
    text-decoration: none;
    color: white;
    font-size: .9375rem;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
}