body {
    background-color: rgb(234, 235, 237);
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.main-div {
    margin: 0 auto;
    width: 60%;
    margin-top: 10%;
}

.image-column {
    display: inline-block;
    width: 49%;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text-column {
    display: inline-block;
    width: 49%;
    margin: auto;
    text-align: center;
}

h1 {
    font-size: 60px;
    font-family: 'Poppins', sans-serif;
    color: rgb(56, 66, 75);
}

.main-text {
    font-size: 25px;
    line-height: 30px;
    font-weight: 800;
    color: rgb(112, 115, 130);
    margin-bottom: 40px;
}

.side-text {
    font-size: 15px;
    color: rgb(104, 110, 136);
    margin-bottom: 25px;
    font-weight: 300;
}

a {
    text-decoration: none;
    border: rgb(103, 109, 135) solid 5px;
    background-color: rgb(103, 109, 135);
    padding: 8px;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 13px;
}