* {
    box-sizing: border-box;
}

body {
    background-color: grey;
}

div {
    background-color: green;
    max-width: 400px;
    margin: auto;
    text-align: justify;
}

span {
    background-color: hotpink;
}

#pic1 {
    float: right;
    margin: 10px;
    border-color: purple;
    border-width: 10px;
    border-style: solid;
    width: 20%;
      }

#pic2 {
    float: left;
    margin: 10px;
    border-color: orange;
    border-width: 7px;
    border-style: solid;
    width: 50%;
    }

    /* Percent is a measurement unit relative to the containing block. It's great for images: here we make an image that is always 50% the width of its container.  */

#pic3 {
    float: left;
    width: 50px;
}
.clearfix-none {
    font-size: 12px;
    background-color: salmon;
}

.clearfix-yes {
    font-size: 15px;
    background-color: salmon;
    overflow: auto;
}