main {
    display: inline-block;
    width: 800px;
    float: left;
    background-color: pink;
    margin-left: calc(50% - 400px);
}
    header {
    display: inline-block;
    float: left;
    width: 100%;
            }
        img {
        display: inline-block;
        float: left;
        }
        nav {
        display: inline-block;
        float: right;
        text-decoration: none;
        }
    section {
    display: inline-block;
    width: 100%;
    float: left;
    }

    #signin {
        border-style: solid;
        border-width: medium;
        border-color: rgb(189, 189, 189);
        border-radius: 5px;
    }