body {
    box-sizing: border-box;
    background-color: olivedrab;
    margin: 0;
}

    header {
        background-color: violet;
        width: 100%;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        background-color: yellow;
    }
    
    #monkeyimg {
        width: 70px;
    }

    #searchimg {
        width: 14px;
    }
    
    li {
        text-align: center;
        display: inline;
        float: left;
        background-color: red;
    }
    
    #leftmenu {
        width: 60%;
        float: left;
        background-color: turquoise;
    }

    #rightmenu {
        width: 40%;
        float: right;
        background-color: royalblue;
        margin-right: 0px;
        margin-top: 0px;
    }

    li a {
        color: black;
        text-decoration: none;
        display: block;
        padding: 6px;
        font-size: 10px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    
    li a:hover {
        background-color:aliceblue;
    }
    


    
        /* ul {
            margin: 0;
            padding: 0;

            background-color: tomato;
        }

        li {
            display: inline;
            float: left;
            /* list-style-type: none;
            margin: 0;
            padding: 0;
            text-decoration: none;
            background-color: burlywood; */
        /* }

        li > a { */
            /* display: block;
            background-color: #dddddd;
            text-decoration: none;
            width: 120px;
            text-align: center;
            font-size: 12px;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            height: 100%; */
        /* } */

        /* div {
            /* display: inline-block; */
            /* float: right;
            background-color: green;
        } */ 

        /* .button {
            border-width: 5px;
            border-style: solid;
            border-color: rgb(210, 210, 210);
            text-decoration: none;
            color: black;
        }
        
        .green-button {
            border-width: 5px;
            border-style: solid;
            border-color: rgb(1, 120, 134);
            color: white;
            text-decoration: none;
        } */

    /* section {
        background-color: palevioletred;
        display: block;
        margin: auto;
    }

        h1 {
            font-size: 45px;
            background-color: saddlebrown;
        }

        p {
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-size: 17px;
            background-color: rebeccapurple;
        }

        footer > div {
            display: block;
            background-color: rgb(255, 224, 27);
        } */